@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Использование программы</h1>

<p>Для взаимодействия с системой авторизуйтесь.</p>
<p>Для просмотра каталога товаров воспользуйтесь кнопкой "Каталог". <br />
    Для заказа товара воспльзуйтесь кнопкой "Оформить новый заказ" <br />
    Для просмотра информации о заказе, а также возможнсти его отмены воспользуйтесь кнопкой "Посмотреть заказы"</p>
