@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/but.css" />
<h1>Вы авторизованы как сотрудник</h1>
<form asp-action="ShowCatalog" asp-controller="Employee">
    <div class="form-group">
        <input type="submit" value="Каталог" class="btn btn1" />
    </div>
</form>
<form asp-action="ShowOrders" asp-controller="Employee">
    <div class="form-group">
        <input type="submit" value="Посмотреть заказы" class="btn btn1" />
    </div>
</form>